In [283]:
import pandas as pd
import numpy as np

En este caso solo pude obtener dos csv, por tanto trabajaremos con esos dos csv igual que hicimos primero con Óptica Universitaria

In [284]:
data_lc = pd.read_csv("./data/csv_scrap/grey/lentillas_grey.csv", index_col=0) # En este csv tendremos que sacar los liquidos ya que están dentro del mismo
data_gafas = pd.read_csv("./data/csv_scrap/grey/toda-la-coleccion-graduadas_greyhounders.csv", index_col=0)

In [285]:
data_lc["Empresa"] = "Greyhounders"
data_lc["Categoria"] = "Lentes de contacto"
data_lc["Producto"] = "Biofinty"
data_lc["Reemplazo"] = "Mensual"

data_lc = data_lc.rename(columns={"nombre_completo":"Nombre completo",
                                  "precio":"Precio"})
data_lc = data_lc[["Empresa","Nombre completo","Categoria","Producto","Reemplazo","Precio"]]

In [286]:
data_lc.loc[1][4] = "Diarias"
data_lc.loc[4][4] = "Diarias"
data_lc.loc[1][3] = "MyDay"
data_lc.loc[4][3] = "MyDay"
data_lc

,Empresa,Nombre completo,Categoria,Producto,Reemplazo,Precio
0,Greyhounders,Lentillas Biofinity Mensual (6 lentillas),Lentes de contacto,Biofinty,Mensual,"desde 19,46€\n"
1,Greyhounders,Lentillas MyDay diarias (60 lentillas),Lentes de contacto,MyDay,Diarias,"desde 33,09€\n"
2,Greyhounders,Lentillas Biofinity Toric Mensual (6 lentillas),Lentes de contacto,Biofinty,Mensual,"desde 34,85€\n"
3,Greyhounders,Lentillas Biofinity Toric XR Mensual (6 lentil...,Lentes de contacto,Biofinty,Mensual,"desde 64,52€\n"
4,Greyhounders,Lentillas MyDay Toric diarias (60 lentillas),Lentes de contacto,MyDay,Diarias,"desde 47,52€\n"
5,Greyhounders,Solución única,Lentes de contacto,Biofinty,Mensual,"desde 3,90€\n"
6,Greyhounders,Comfort Drops,Lentes de contacto,Biofinty,Mensual,"6,90€\n"

In [287]:
for indice, valor in data_lc["Precio"].iteritems(): # Con este codigo limpiamos la fila de precio de cualquier tipo de carcarter, convirtiendo la cadena en float.
    cadena = valor
    for caracter in cadena:
        try:
            valor_float = float(cadena)
            data_lc.at[indice, "Precio"] = valor_float
            break
        except ValueError:
            if not caracter.isdigit() and caracter != '.' and caracter != '-':
                cadena = cadena.replace(caracter, '')
            cadena = cadena.replace(',', '.')
data_lc["Precio"] = data_lc["Precio"].astype(float)

In [288]:
data_lc

,Empresa,Nombre completo,Categoria,Producto,Reemplazo,Precio
0,Greyhounders,Lentillas Biofinity Mensual (6 lentillas),Lentes de contacto,Biofinty,Mensual,19.46
1,Greyhounders,Lentillas MyDay diarias (60 lentillas),Lentes de contacto,MyDay,Diarias,33.09
2,Greyhounders,Lentillas Biofinity Toric Mensual (6 lentillas),Lentes de contacto,Biofinty,Mensual,34.85
3,Greyhounders,Lentillas Biofinity Toric XR Mensual (6 lentil...,Lentes de contacto,Biofinty,Mensual,64.52
4,Greyhounders,Lentillas MyDay Toric diarias (60 lentillas),Lentes de contacto,MyDay,Diarias,47.52
5,Greyhounders,Solución única,Lentes de contacto,Biofinty,Mensual,3.90
6,Greyhounders,Comfort Drops,Lentes de contacto,Biofinty,Mensual,6.90

Aquí tenemos que sacar los liquidos del csv de lentillas.

In [289]:
data_liquidos_gh = data_lc[5:7].reset_index()

In [290]:
data_lc = data_lc.loc[0:4].reset_index()

In [291]:
data_lc.to_csv(".\Data\GH\lc.csv")

Convertimos a csv las lentes de contacto y ahora mejoramos el dataframe de liquidos para convertirlo a csv.

In [292]:
data_liquidos_gh.drop("index",axis=1,inplace=True)
data_liquidos_gh.drop("Reemplazo",axis=1,inplace=True)
data_liquidos_gh["Categoria"] = "Líquidos"

In [293]:

data_liquidos_gh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Empresa          2 non-null      object
 1   Nombre completo  2 non-null      object
 2   Categoria        2 non-null      object
 3   Producto         2 non-null      object
 4   Precio           2 non-null      float64
dtypes: float64(1), object(4)
memory usage: 208.0+ bytes

In [294]:
data_liquidos_gh.loc[0,"Nombre completo"] = "Hidro Health HA"
data_liquidos_gh.loc[0,"Producto"] = "Disop"
data_liquidos_gh.loc[1,"Producto"] = "CooperVision"

In [295]:
data_liquidos_gh

        Empresa  Nombre completo Categoria      Producto  Precio
0  Greyhounders  Hidro Health HA  Líquidos         Disop     3.9
1  Greyhounders    Comfort Drops  Líquidos  CooperVision     6.9

In [296]:
data_liquidos_gh.to_csv(".\Data\GH\liquidos.csv")

In [297]:
data_gafas

   nombre_completo       precio
0          Vincent  39€\n
1             Land  49€\n
2           Goudie  29€\n
3            Rodas  49€\n
4          Francis  59€\n
..             ...          ...
67          Marcel  29€\n
68           Karma  39€\n
69            Hana  29€\n
70           Miley  29€\n
71            Yuzu  39€\n

[72 rows x 2 columns]

In [298]:
data_gafas["Empresa"] = "Greyhounders"
data_gafas["Categoria"] = "Ofertas montura + cristales"
data_gafas["Producto"] = "Marca Propia"

data_gafas = data_gafas.rename(columns={"nombre_completo":"Nombre completo",
                                  "precio":"Precio"})
data_gafas = data_gafas[["Empresa","Nombre completo","Categoria","Producto","Precio"]]

In [299]:
for indice, valor in data_gafas["Precio"].iteritems(): # Con este codigo limpiamos la fila de precio de cualquier tipo de carcarter, convirtiendo la cadena en float.
    cadena = valor
    for caracter in cadena:
        try:
            valor_float = float(cadena)
            data_gafas.at[indice, "Precio"] = valor_float
            break
        except ValueError:
            if not caracter.isdigit() and caracter != '.' and caracter != '-':
                cadena = cadena.replace(caracter, '')
            cadena = cadena.replace(',', '.')
data_gafas["Precio"] = data_gafas["Precio"].astype(float)

In [300]:
data_gafas

,Empresa,Nombre completo,Categoria,Producto,Precio
0,Greyhounders,Vincent,Ofertas montura + cristales,Marca Propia,39.0
1,Greyhounders,Land,Ofertas montura + cristales,Marca Propia,49.0
2,Greyhounders,Goudie,Ofertas montura + cristales,Marca Propia,29.0
3,Greyhounders,Rodas,Ofertas montura + cristales,Marca Propia,49.0
4,Greyhounders,Francis,Ofertas montura + cristales,Marca Propia,59.0
...,...,...,...,...,...
67,Greyhounders,Marcel,Ofertas montura + cristales,Marca Propia,29.0
68,Greyhounders,Karma,Ofertas montura + cristales,Marca Propia,39.0
69,Greyhounders,Hana,Ofertas montura + cristales,Marca Propia,29.0
70,Greyhounders,Miley,Ofertas montura + cristales,Marca Propia,29.0
71,Greyhounders,Yuzu,Ofertas montura + cristales,Marca Propia,39.0

In [301]:
data_gafas.to_csv(".\Data\GH\gafas_gh.csv")