In [2]:
import pandas as pd
import numpy as np

Arreglando Óptica universitaria, primero LC y liquidos

In [3]:
data_lc_1_d = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/diarias_ou_1.csv", index_col=0)
data_lc_2_d = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/diarias_ou_2.csv", index_col=0)
data_lc_1_m = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/mensuales_ou_1.csv", index_col=0)
data_lc_2_m = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/mensuales_ou_2.csv", index_col=0)
data_lc_q = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/quincenales_ou.csv", index_col=0)
data_liquidos_1 = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/boston_ou.csv", index_col=0)
data_liquidos_2 = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/disop_ou.csv", index_col=0)
data_liquidos_3 = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/opti-free_ou.csv", index_col=0)
data_liquidos_4 = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/renu_ou.csv", index_col=0)
data_liquidos_5 = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/systane_ou.csv", index_col=0)
data_liquidos_6 = pd.read_csv("./data/csv_scrap/ou/lc y liquidos/lentsoft_liquidos_ou.csv", index_col=0)

In [4]:
data_lc_1_d.head()

,nombre_completo,categoria,producto,remplazo,precio
0,PRECISION1™ 30 UNIDADES DIARIA,Lentillas,Precision1,Lentillas diarias: Diarias,22.5
1,LENTSOFT DIARIA HIDROGEL ASTIGMATISMO 30 UNIDADES,Lentillas,Lentsoft,Lentillas diarias: Diarias,25.0
2,DAILIES™ AQUACOMFORT™ PLUS 30 UNIDADES DIARIA,Lentillas,Dailies,Lentillas diarias: Diarias,26.0
3,DAILIES™ AQUACOMFORT™ PLUS 90 UNIDADES DIARIA,Lentillas,Dailies,Lentillas diarias: Diarias,75.0
4,DAILIES™ AQUACOMFORT™ PLUS MULTIFOCAL 30 UNIDA...,Lentillas,Dailies,Lentillas diarias: Diarias,33.0

In [12]:
data_lc_1_d["remplazo"] = data_lc_1_d["remplazo"] = "Diarias"
data_lc_1_d["categoria"] = data_lc_1_d["categoria"] = "Lentes de contacto"
data_lc_2_d["remplazo"] = data_lc_2_d["remplazo"] = "Diarias"
data_lc_2_d["categoria"] = data_lc_2_d["categoria"] = "Lentes de contacto"
data_lc_1_m["remplazo"] = data_lc_1_m["remplazo"] = "Mensual"
data_lc_1_m["categoria"] = data_lc_1_m["categoria"] = "Lentes de contacto"
data_lc_2_m["remplazo"] = data_lc_1_m["remplazo"] = "Mensual"
data_lc_2_m["categoria"] = data_lc_1_m["categoria"] = "Lentes de contacto"
data_lc_q["remplazo"] = data_lc_q["remplazo"] = "Quincenal"
data_lc_q["categoria"] = data_lc_q["categoria"] = "Lentes de contacto"

In [6]:
data_liquidos_1.drop(["reemplazo"], axis=1, inplace=True)
data_liquidos_2.drop(["reemplazo"], axis=1, inplace=True)
data_liquidos_3.drop(["reemplazo"], axis=1, inplace=True)
data_liquidos_4.drop(["reemplazo"], axis=1, inplace=True)
data_liquidos_5.drop(["reemplazo"], axis=1, inplace=True)
data_liquidos_6.drop(["reemplazo"], axis=1, inplace=True)

In [7]:
data_liquidos_1

                            nombre_completo categoria producto  precio
0                   BOSTON LIMPIADOR 30 ml.  Líquidos   Boston     7.5
1                     BOSTON SIMPLUS 120 ML  Líquidos   Boston     9.0
2  HUMECTANTE ACONDICIONADOR BOSTON 120 ml.  Líquidos   Boston     8.5

In [8]:
data_tot_liqu_ou = pd.concat([data_liquidos_1,data_liquidos_2,data_liquidos_3,data_liquidos_4,data_liquidos_5,data_liquidos_6],axis=0)

In [9]:
data_tot_liqu_ou

,nombre_completo,categoria,producto,precio
0,BOSTON LIMPIADOR 30 ml.,Líquidos,Boston,7.50
1,BOSTON SIMPLUS 120 ML,Líquidos,Boston,9.00
2,HUMECTANTE ACONDICIONADOR BOSTON 120 ml.,Líquidos,Boston,8.50
0,HIDRO HEALTH SiH 360 ML,Líquidos,Disop,7.50
1,ACUAISS BAÑO OCULAR 100 ML,Líquidos,Disop,5.00
2,ENZIMAS NACLENS 10 TABLETAS,Líquidos,Disop,6.25
0,OPTI-FREE EXPRESS 355 ML.,Líquidos,Opti-Free,8.90
1,OPTI-FREE PUREMOIST 300 ML,Líquidos,Opti-Free,13.50
0,RENU MULTIPLUS 500 ml,Líquidos,Renu,10.50
0,SYSTANE™ TOALLITAS PARA LIMPIEZA OCULAR HIPOAL...,Líquidos,Systane,15.00
1,SYSTANE™ COMPLETE - GOTAS OFTALOMICAS SIN CONS...,Líquidos,Systane,13.00
2,SYSTANE™ ULTRA 10 ml.,Líquidos,Systane,11.00
3,SYSTANE™ ULTRA MONODOSIS 30 UNIDADES SIN CONSE...,Líquidos,Systane,11.00
4,SYSTANE™ GEL DROPS 10 ML.,Líquidos,Systane,11.00
0,LENTSOFT SOLUCIÓN ÚNICA 360 ML,Líquidos,Lentsoft,4.50
1,LENTSOFT MONODOSIS (20 X 0.35ml),Líquidos,Lentsoft,5.50
2,LENTSOFT 100 ML (VIAJE),Líquidos,Lentsoft,2.50
3,LENTSOFT GOTAS HUMECTANTES 6ML,Líquidos,Lentsoft,4.50
4,LENTSOFT SOLUCIÓN UNICA HIDRATANTE 360 ML,Líquidos,Lentsoft,6.50
5,LENTSOFT SOLUCIÓN ÚNICA HIDRATANTE 100 ML,Líquidos,Lentsoft,3.50
6,LENTSOFT SOLUCIÓN PERÓXIDO 250 ML,Líquidos,Lentsoft,6.50
7,LENTSOFT SOLUCION SALINA 360 ML,Líquidos,Lentsoft,3.00

In [10]:
data_tot_liqu_ou.reset_index(inplace=True)

In [11]:
data_tot_liqu_ou.drop("index",axis=1,inplace=True)
data_tot_liqu_ou = data_tot_liqu_ou.rename(columns={"nombre_completo":"Nombre completo",
                                                "categoria":"Categoria",
                                                "producto":"Producto",
                                                "precio":"Precio"})

In [12]:
for index, row in data_tot_liqu_ou.iterrows():
    if "LENTSOFT" in row["Nombre completo"]:
        data_tot_liqu_ou.loc[index,"Producto"] = "Marca Propia"

In [13]:
data_tot_liqu_ou["Empresa"] = "Óptica Universitaria"

data_tot_liqu_ou = data_tot_liqu_ou[["Empresa","Nombre completo","Categoria","Producto","Precio"]]

In [14]:
data_tot_liqu_ou.to_csv(".\Data\data_tot_liqu_ou.csv")

In [13]:
data_tot_lc_ou = pd.concat([data_lc_1_d,data_lc_1_m,data_lc_2_d,data_lc_2_m,data_lc_q],axis=0)

In [14]:
data_tot_lc_ou.reset_index(inplace=True)
data_tot_lc_ou.drop("index",axis=1,inplace=True)

In [15]:
data_tot_lc_ou = data_tot_lc_ou.rename(columns={'remplazo': 'Reemplazo',
                                                "nombre_completo":"Nombre completo",
                                                "categoria":"Categoria",
                                                "producto":"Producto",
                                                "precio":"Precio"})

In [16]:
for index, row in data_tot_lc_ou.iterrows():
    if "LENTSOFT" in row["Nombre completo"]:
        data_tot_lc_ou.loc[index,"Producto"] = "Marca Propia"

In [17]:
data_tot_lc_ou["Empresa"] = "Óptica Universitaria"

data_tot_lc_ou = data_tot_lc_ou[["Empresa","Nombre completo","Categoria","Producto","Reemplazo","Precio"]]

In [18]:
data_tot_lc_ou.to_csv(".\Data\data_tot_lc_ou.csv")

Arregladas las LC y los liquidos, ahora tocan las gafas.

In [21]:
data_gafa_1 = pd.read_csv("./data/csv_scrap/ou/gafas/mont_crist_ou_1.csv", index_col=0)
data_gafa_2 = pd.read_csv("./data/csv_scrap/ou/gafas/mont_crist_ou_2.csv", index_col=0)
data_gafa_3 = pd.read_csv("./data/csv_scrap/ou/gafas/mont_crist_ou_3.csv", index_col=0)
data_gafa_4 = pd.read_csv("./data/csv_scrap/ou/gafas/mont_crist_ou_4.csv", index_col=0)
data_gafa_5 = pd.read_csv("./data/csv_scrap/ou/gafas/mont_crist_ou_5.csv", index_col=0)
data_gafa_6 = pd.read_csv("./data/csv_scrap/ou/gafas/mont_crist_ou_6.csv", index_col=0)

In [22]:
data_gafas = pd.concat([data_gafa_1,data_gafa_2,data_gafa_3,data_gafa_4,data_gafa_5,data_gafa_6],axis=0)
data_gafas.reset_index(inplace=True)
data_gafas.drop("index",axis=1,inplace=True)

In [23]:
data_gafas.drop("remplazo", inplace=True, axis=1)

In [24]:
data_gafas["categoria"] = data_gafas["categoria"] = "Ofertas montura + cristales"

In [25]:
data_gafas

,nombre_completo,categoria,producto,precio
0,BEO S179 C01,Ofertas montura + cristales,BeO,49.0
1,BEO 526 C1,Ofertas montura + cristales,BeO,49.0
2,KYPERS TONYA TNY001,Ofertas montura + cristales,Kypers,49.0
3,KYPERS ENRIQUE ERQ001,Ofertas montura + cristales,Kypers,49.0
4,BEO S182 C02,Ofertas montura + cristales,BeO,49.0
...,...,...,...,...
178,POLAROID PLD D484 807,Ofertas montura + cristales,Polaroid,69.0
179,CARRERA CA 8885 BLX,Ofertas montura + cristales,Carrera,79.0
180,POLAROID PLD D485 KJ1,Ofertas montura + cristales,Polaroid,69.0
181,TOMMY HILFIGER TH 2008 GWM,Ofertas montura + cristales,Tommy Hilfiger,89.0
182,TOMMY HILFIGER TH 1981 S S3S IR,Ofertas montura + cristales,Tommy Hilfiger,89.0

In [26]:
data_gafas["Empresa"] = "Óptica Universitaria"

In [27]:
data_gafas = data_gafas.rename(columns={"nombre_completo":"Nombre completo",
                                                "categoria":"Categoria",
                                                "producto":"Producto",
                                                "precio":"Precio"})

In [28]:
for index, row in data_gafas.iterrows():
    if "BEO" in row["Nombre completo"]:
        data_gafas.loc[index,"Producto"] = "Marca Propia"

In [29]:
data_gafas = data_gafas[["Empresa","Nombre completo","Categoria","Producto","Precio"]]

In [30]:
data_gafas

,Empresa,Nombre completo,Categoria,Producto,Precio
0,Óptica Universitaria,BEO S179 C01,Ofertas montura + cristales,Marca Propia,49.0
1,Óptica Universitaria,BEO 526 C1,Ofertas montura + cristales,Marca Propia,49.0
2,Óptica Universitaria,KYPERS TONYA TNY001,Ofertas montura + cristales,Kypers,49.0
3,Óptica Universitaria,KYPERS ENRIQUE ERQ001,Ofertas montura + cristales,Kypers,49.0
4,Óptica Universitaria,BEO S182 C02,Ofertas montura + cristales,Marca Propia,49.0
...,...,...,...,...,...
178,Óptica Universitaria,POLAROID PLD D484 807,Ofertas montura + cristales,Polaroid,69.0
179,Óptica Universitaria,CARRERA CA 8885 BLX,Ofertas montura + cristales,Carrera,79.0
180,Óptica Universitaria,POLAROID PLD D485 KJ1,Ofertas montura + cristales,Polaroid,69.0
181,Óptica Universitaria,TOMMY HILFIGER TH 2008 GWM,Ofertas montura + cristales,Tommy Hilfiger,89.0
182,Óptica Universitaria,TOMMY HILFIGER TH 1981 S S3S IR,Ofertas montura + cristales,Tommy Hilfiger,89.0

In [31]:
data_gafas.to_csv(".\Data\data_gafas.csv")